### Intellij ###
.idea
out/

### Gradle ###
.gradle
build/
gradlew
gradlew.bat

# Ignore Gradle GUI config
gradle-app.setting

gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/
